<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tran Minh Giang"/>
    <title>Animation</title>

    <link rel="stylesheet" href="styles/desktop.css">
    <link rel="stylesheet" href="styles/mobile.css">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>


<body>
    <div class="bgr"></div>
    <div class="zid-01 s-30 bl-15 r-20 t-50 ln-1"></div>
    <div class="zid-01 s-40 bl-25 r-10 ln-1" style="top: 200vh;"></div>
    <div class="zid-01 s-50 bl-25 l-10 t-80 zid-01" style="background-color: rgb(198, 22, 22); position: fixed;"></div>

  <!-- navbar -->
    <header class="pst-fx w-100 zid-3" tabindex="1">
        <div class="h-10 mg-h-20vw jtf-btw alit-ct">
            <h1 class="clf">Realestzan</h1>
            <nav class="jtf-evl bs-6 ">
                <a class="fs-15" href="welcome.html">Welcome</a>
                <a class="fs-15" href="questions.html">Questions</a>
                <a class="fs-15" href="detail.html">Detail</a>
            </nav>
            <a class="fs-1" href="animation.html">👉🏻 Animation 👈🏻</a>
        </div>

        <div class="rlt w-100 h-10" style="margin-top: -10vh; backdrop-filter: blur(20px); z-index: -3;"></div>
    </header>

    <main>
            <div class="jtf-cl-st ct">
                <h3 class="fs-25 mg-t-20vh">My animation</h3>
                <strong class="fs-4 fw-3 pd-v-3">Used in this project</strong>
            </div>
          

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
                <div class="bs-5">
                    <strong class="fs-25 fw-9">Image animation</strong>
                    <p class="fs-15 lh-3 fw-3 pd-t-3r">Rotate when Hover</p>
                    <p class="fs-15 lh-3 pd-t-3r">Used in all pages </p>
                </div>
                <img class="w-20 h-30 sc-14" src="/images/laptop.png" alt="">
            </div>
            
            <div class="rd-5 mg-t-5r mg-h-20vw card pd-5r">
                <strong class="fs-25 fw-9">Dropdown animation</strong>
                <p class="fs-15 lh-3 fw-3 pd-t-3r">Used in <a class="fw-5 pd-h-1" href="questions.html">Questions</a> page</p>
                <div class="mg-t-10vw jtf-btw mg-t-10vh">
                    <div class="job-item w-50 pd-h-3 pd-v-2" tabindex="0">
                        <h2 class="fs-3 fw-9">01</h2>
                        <div class="jtf-st h-10 alit-ct">
                            <i class="ph ph-plus-circle fs-3"></i>
                            <p class="fs-2 mg-l-2r">Press me</p>
                        </div>
                        <p class="fs-15 fw-3 lh-3">I'm a dropdown</p>
                    </div>
                
                    <div class="job-item w-50 pd-h-3 pd-v-2" tabindex="0">
                        <h2 class="fs-3 fw-9">02</h2>
                        <div class="jtf-st h-10 alit-ct">
                            <i class="ph ph-plus-circle fs-3"></i>
                            <p class="fs-2 mg-l-2r">Press me</p>
                        </div>
                        <p class="fs-15 fw-3 lh-3">I'm also a dropdown</p>
                    </div>
                </div>
            </div>

            <div class="rd-5 mg-t-5r mg-h-20vw card pd-5r">
                <strong class="fs-25 fw-9">Navigation animation</strong>
                <p class="fs-15 lh-3 fw-3 pd-t-2r">When in mobile responsive</p>
            </div>


    </main>

    <!-- footer -->
    <footer class="w-100 h-40 mg-20vw jtf-evl alit-ct mg-t-20vh">
        <div class="h-80pc jtf-cl-btw">
            <strong>Navigation</strong>
            <a href="welcome.html" class="fs-2r">👉🏻 Welcome 👈🏻</a>
            <a href="questions.html" class="fs-2r">Questions</a>
            <a href="detail.html" class="fs-2r">Detail</a>
        </div>
  
        <div class="h-80pc jtf-cl-btw">
            <strong>Contact</strong>
            <a>0949010705</a>
            <a href="welcome.html">realestzan.com</a>
            <a>franbow1177@</a>
        </div>
  
          <div class="h-80pc jtf-cl-btw">
              <strong>Contact</strong>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-meta-logo"></i><p>/010705mariposa</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-twitter-logo"></i><p>/none</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-linkedin-logo"></i><p>/none</p></div>
          </div>
    </footer>
</body>
</html>