{% extends "base.html" %}
{% block content %}
<html>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>

    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
  apiKey: "AIzaSyDFsQiksSWpjc2bp1XS5Qr_OrHCT5rgILg",
  authDomain: "pthuy-50c34.firebaseapp.com",
  projectId: "pthuy-50c34",
  storageBucket: "pthuy-50c34.appspot.com",
  messagingSenderId: "721508945676",
  appId: "1:721508945676:web:08ef795e121c5aa4b20329",
  measurementId: "G-LEN603JZBE"
};
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

<body>

        <main class="w- h-[80vh] flex justify-center items-center mx-auto dark:text-white">
            <div>

            <h2 class="text-3xl font-bold text-center mb-4">Đăng nhập</h2>
            <p class="text-center text-gray-600 mb-6">Nhập Thông tin và đăng nhập vào Sweetie</p>
            <form action="#" method="POST">
                <div class="mb-4">
                    <label for="email" class="block text-gray-700">Email</label>
                    <input type="email" id="email" name="email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" placeholder="m@example.com" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Password</label>
                    <input type="password" id="password" name="password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" required>
                    <a href="#" class="text-sm text-gray-600 hover:underline mt-2 inline-block">Quên mật khẩu?</a>
                </div>
                <div class="mb-4">
                    <button type="submit" class="w-full px-4 py-2 bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none">Login</button>
                </div>
                <div class="mb-4">
                    <button type="button" id="googleSignIn" class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none">Đăng nhập với Google</button>
                </div>
            </form>
            <p class="text-center text-gray-600">Không có tài khoản? <a href="#" class="text-blue-600 hover:underline">Đăng ký</a></p>
        </div>
        </>
    </div>
</body>

    

    <script>
        // Initialize Firebase Authentication and get a reference to the service
        const auth = firebase.auth();

        document.getElementById('googleSignIn').addEventListener('click', function() {
            var provider = new firebase.auth.GoogleAuthProvider();
            auth.signInWithPopup(provider).then((result) => {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                console.log('User:', user);

                // Send ID token to backend
                user.getIdToken().then(idToken => {
                    fetch('/auth/signin/google', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ idToken })
                    }).then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              console.log('User verified');
                                window.location.href = '/dashboard';
                              // Redirect or perform any further actions after successful sign in
                          } else {
                              console.log('Verification failed');
                          }
                      });
                });
            }).catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
{% endblock %}