<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyDFsQiksSWpjc2bp1XS5Qr_OrHCT5rgILg",
            authDomain: "pthuy-50c34.firebaseapp.com",
            projectId: "pthuy-50c34",
            storageBucket: "pthuy-50c34.appspot.com",
            messagingSenderId: "721508945676",
            appId: "1:721508945676:web:08ef795e121c5aa4b20329",
            measurementId: "G-LEN603JZBE"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</head>
<body>
    <button id="googleSignIn" class="bg-background-dark text-white font-bold py-2 px-4 rounded mt-4 inline-block">Đăng ký với Google</button>
    <script>
        // Initialize Firebase Authentication and get a reference to the service
        const auth = firebase.auth();

        document.getElementById('googleSignIn').addEventListener('click', function() {
            var provider = new firebase.auth.GoogleAuthProvider();
            auth.signInWithPopup(provider).then((result) => {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                console.log('User:', user);

                // Send ID token to backend
                user.getIdToken().then(idToken => {
                    fetch('/auth/signin/google', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ idToken })
                    }).then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              console.log('User verified');
                              // Redirect or perform any further actions after successful sign in
                          } else {
                              console.log('Verification failed');
                          }
                      });
                });
            }).catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
