<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tran Minh Giang"/>
    <title>Welcome</title>

    <link rel="stylesheet" href="../static/css/desktop.css">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>

    <div class="bgr"></div>
    <div class="zid-01 s-30 bl-15 r-20 t-50 ln-1"></div>
    <div class="zid-01 s-40 bl-25 r-10 ln-1" style="top: 200vh;"></div>
    <div class="zid-01 s-50 bl-25 l-10 t-80 zid-01" style="background-color: rgb(198, 22, 22); position: fixed;"></div>
    <div class="zid-01 s-40 bl-25 ln-1" style="top: 300vh;"></div>
    <div class="zid-01 s-40 bl-25 r-10 ln-1" style="top: 400vh;"></div>
    <div class="zid-01 s-40 bl-25 l-10 ln-1" style="top: 500vh;"></div>
    <div class="zid-01 s-40 bl-25 l-10 ln-1" style="top: 650vh;"></div>


  <!-- navbar -->
  <header class="h-10 mg-h-20vw jtf-btw alit-ct">
    <h1 class="clf">Sweetie</h1>
    <nav class="jtf-evl bs-6 ">
        <a class="fs-15" href="welcome.html">Chào bạn</a>
        <a class="fs-15" href="questions.html">👉🏻 Về Tác giả 👈🏻</a>
        <a class="fs-15" href="detail.html">Về dự án</a>
    </nav>
    <a class="fs-1" href="animation.html">Animation ✨</a>
</header>


    <div class="h-100 mg-h-20vw jtf-btw">
        <div class="bs-5 ct-r jtf-cl-st">
            <strong class="fs-3 fw-9">👋🏻 I'm Giang</strong>
            <p class="fs-2 pd-v-4 lh-4">This is the place where you can find information about me.</p>
            <button class="button-90 sc-14 mg-l-1r" role="button">Let's start</button>
        </div>
        <img class="img bs-1 sc-07 rd-5" src="../static/images/tmg2.HEIC" alt="">
    </div>

    <main>
            <div class="jtf-cl-st ct">
                <h3 class="fs-25">My skills</h3>
                <strong class="fs-4 fw-3 pd-v-3">As a programmer</strong>
            </div>
          

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
              <img class="h-40" src="../static/images/web.png" alt="">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">Web development</strong>
                    <p class="fs-15 lh-3 pd-v-4">I'm good at frontend, I have used React, NextJS. and I'm pretty well as HTML and CSS, my favourite style is glassmorphism.</p>
                </div>
            </div>

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">Computer System</strong>
                    <p class="fs-15 lh-3 pd-v-4">I have learned this Core course in my first semester at Swinburne, It's hard but also fun to learn.</p>
                </div>
                <img class="h-40" src="../static/images/cs.png" alt="">
            </div>

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
              <img class="h-40" src="../static/images/cloud.png" alt="">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">Firebase services</strong>
                    <p class="fs-15 lh-3 pd-v-4">I used it frequently, especially Firestore, Authentication and sometime I also use hosting or storage</p>
                </div>
            </div>

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">iOS Development</strong>
                    <p class="fs-15 lh-3 pd-v-4">Using Swift, SwiftUI with Combine, making apps in XCode, I also join the apple developer program.</p>
                </div>
                <img class="h-40" src="../static/images/phone2.png" alt="">
            </div>

            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
              <img class="h-40" src="../static/images/phone.png" alt="">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">Android Development</strong>
                    <p class="fs-15 lh-3 pd-v-4">Tried Kotlin, but switch to Java back in 2021 when the community still use Java more than Kotlin, Android Studio and its simulators are great</p>
                </div>
            </div>


            <div class="rd-5 mg-t-5r mg-h-20vw jtf-btw card pd-5r">
                <div class="bs-5 ct-r jtf-cl-st">
                    <strong class="fs-25 fw-9">Mobile Crossplatform</strong>
                    <p class="fs-15 lh-3 pd-v-4">Using React Native, a open-source framework developed by Meta, It is a bit slow and complicated when configurating compare to native app.</p>
                </div>
                <img class="h-40" src="../static/images/crossplatform.png" alt="">
            </div>



            <div class="mg-h-20vw mg-v-20vh jtf-btw">
            <img class="bs-5 img cp-cc h-60" src="../static/images/texture.png" alt="">
              <div class="bs-4 ct-r jtf-cl-st">
                <p class="fs-15 lh-3 lh-3">Nestled in the vibrant city of Ho Chi Minh, my academic and personal journey at Swinburne Vietnam in the field of Computer Science has been nothing short of exhilarating. As a dedicated student of the COS10005 Web Development course, I've ventured deep into the realms of technology, where the lines between imagination and reality blur, creating a world full of possibilities and innovations.</p>
              </div>
          </div>

    </main>
    

    <section class="mg-b-20vh ct">
        <div class="mg-h-20vw pd-5r ct">
            <h3 class="fs-2 mg-b-2r">Stay connect</h3>
            <form class="alit-ct w-60 jtf-btw" id="email" method="post" action="http://mercury.swin.edu.au/it000000/cos10005/surveytest.php">
                <label for="mail" class="bs-2 tal-ct">Fill your email here</label>
                <input type="email" name="email" class="bs-6" placeholder="Enter your email address" required>
                <input class="bs-1 button-90" type="submit" value="Send">
            </form>
            <p class="fs-2 lh-4 mg-v-3 tal-ct">Drop me your contact information so that we can start talking.</p>
        </div>
    </section>


    <!-- footer -->
    <footer class="w-100 h-40 mg-20vw jtf-evl alit-ct zid-9 mg-t-20vh">
        <div class="h-80pc jtf-cl-btw">
            <strong>Navigation</strong>
            <a href="welcome.html" class="fs-2r">👉🏻 Welcome 👈🏻</a>
            <a href="questions.html" class="fs-2r">Questions</a>
            <a href="detail.html" class="fs-2r">Detail</a>
        </div>
  
        <div class="h-80pc jtf-cl-btw">
            <strong>Contact</strong>
            <a>0949010705</a>
            <a href="welcome.html">realestzan.com</a>
            <a>franbow1177@</a>
        </div>
  
          <div class="h-80pc jtf-cl-btw">
              <strong>Contact</strong>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-meta-logo"></i><p>/010705mariposa</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-twitter-logo"></i><p>/none</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-linkedin-logo"></i><p>/none</p></div>
          </div>
    </footer>


</body>
</html>
