{% extends "base.html" %}

{% block title %}Book Detail{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('main_bp.book') }}" >Books</a>
<span class="mx-2 text-gray-600">/</span>
<a href="{{ url_for('main_bp.book_detail', book_id=book_data.metadata.id) }}" >Detail</a>
{% endblock %}

{% block content %}
<section>
    <form id="bookForm" enctype="multipart/form-data">
      <div class="flex gap-14">
       
        <div class="mt-6 sm:mt-8 lg:mt-0">

            <h1 class="text-3xl font-bold mb-4 flex gap-4 items-center"><img width="50" height="50" src="{{ url_for('static', filename='images/book.png') }}" alt=""><span class="text-2xl font-semibold">Book Detail: {{ book_data.metadata.title }}</h1>
            
                    <div class="col-span-1">
                        <label for="title" class="block mb-2 font-semibold">Tiêu đề:</label>
                        <input type="text" id="title" name="title" value="{{ book_data.metadata.title }}" required class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Book Title...">
            
                        <label for="authors" class="block mt-4 mb-2 font-semibold">Tác giả:</label>
                        <input type="text" id="authors" name="authors" value="{{ book_data.metadata.authors | join(', ') }}" required class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Book Authors...">
            
                        <label for="subject" class="block mt-4 mb-2 font-semibold">Chủ đề:</label>
                        <input type="text" id="subject" name="subject" value="{{ book_data.metadata.subject }}" required class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Book Subject ...">
            
                        <label for="keywords" class="block mt-4 mb-2 font-semibold">Từ khoá:</label>
                        <input type="text" id="keywords" name="keywords" value="{{ book_data.metadata.keywords }}" required class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Book Keyword ...">
            
                        <label for="public" class="block mt-4 mb-2 font-semibold">Công khai:</label>
                        <input type="checkbox" id="public" name="public" class="mr-2" {{ 'checked' if book_data.metadata.public else '' }}>
                        <span>Chia sẻ với cộng đồng</span>
                    </div>

                    

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <div>
                
                <div class="flex gap-4">
               
            </div>
            </div>
            <button type="button" onclick="saveBook()" id="saveBookBtn" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg
                  class="w-5 h-5 -ms-2 me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                  />
                </svg>
                Lưu sách
            </button>

            <button type="button" onclick="publishBook()" id="publishBookBtn" style="display: none;" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Công khai sách</button>
<button type="button" onclick="uploadBook()" id="uploadBookBtn" style="display: none;" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Lưu lên Cloud</button>
          
            <a href="{{ url_for('main_bp.book_translate', book_id=book_data.metadata.id) }}" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Dịch sách</a>
            <a href="{{ url_for('main_bp.book_speech', book_id=book_data.metadata.id) }}" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Sách nói</a>
            <a href="{{ url_for('main_bp.book_read', book_id=book_data.metadata.id) }}" class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Đọc sách</a>


          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

          <p class="mb-6 text-gray-500 dark:text-gray-400">
            Khi bạn tải sách lên, bạn đồng ý với tiêu chuẩn và chính sách của app
          </p>

          <p class="text-gray-500 dark:text-gray-400">
            Tránh tải những sách có bản quyền, sách không phù hợp với đạo lý và pháp luật lên mục chia sẽ với cộng đồng
          </p>
        </div>

        <div>
            {% if book_data.cover_image %}
                <img src="data:image/jpeg;base64,{{ book_data.cover_image }}" class="object-fit w-[50vw] h-[80vh] rounded-lg">
            {% else %}
                <img src="{{ url_for('static', filename='images/book.png') }}" class="object-contain">
            {% endif %}
    </div>


      </div>
    </form>
  </section>



   <script>
        let firestoreBookId = "";
        let isSavedToFirestore = false;

        function getUser() {
            return fetch('/auth/user/detail', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      return data.user;
                  } else {
                      throw new Error('User not logged in');
                  }
              });
        }

        function saveBook() {
            if (isSavedToFirestore) {
                alert('The book has already been saved to Firestore.');
                return;
            }

            const form = document.getElementById('bookForm');
            const formData = new FormData(form);
            const bookData = {
                metadata: {
                    title: formData.get('title'),
                    authors: formData.get('authors').split(', '),
                    subject: formData.get('subject'),
                    keywords: formData.get('keywords'),
                    public: formData.get('public') !== null
                },
                cover_image: "{{ book_data.cover_image }}",
                texts: {{ book_data.texts | tojson }},
                storage_url: "{{ book_data.storage_url }}"
            };

            getUser().then(user => {
                fetch('/firestore/books/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ book_data: bookData, user_id: user.uid })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        firestoreBookId = data.id;
                        isSavedToFirestore = true;
                        Swal.fire({
  title: 'Success!',
  text: 'Book saved successfuly.',
  icon: 'success',
  confirmButtonText: 'Cool'
})
                        document.getElementById('publishBookBtn').style.display = 'block';
                        document.getElementById('uploadBookBtn').style.display = 'block';
                    } else {
                        alert('Failed to save the book: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
  title: 'Error!',
  text: 'Failed to save the book.',
  icon: 'error',
  confirmButtonText: 'Cool'
})
                });
            }).catch(error => {
                console.error('Error:', error);
                Swal.fire({
  title: 'Error!',
  text: 'You need an account to save book.',
  icon: 'error',
  confirmButtonText: 'Cool'
})
            });
        }

        function publishBook() {
            const form = document.getElementById('bookForm');
            const formData = new FormData(form);
            const bookData = {
                metadata: {
                    title: formData.get('title'),
                    authors: formData.get('authors').split(', '),
                    subject: formData.get('subject'),
                    keywords: formData.get('keywords'),
                    public: formData.get('public') !== null
                },
                cover_image: "{{ book_data.cover_image }}",
                texts: {{ book_data.texts | tojson }},
                storage_url: "{{ book_data.storage_url }}"
            };

            getUser().then(user => {
                fetch(`/firestore/published_books/add/${firestoreBookId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ book_data: bookData, user_id: user.uid })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
  title: 'Error!',
  text: 'Book publish successfully.',
  icon: 'error',
  confirmButtonText: 'Cool'
})
                        window.location.href = "{{ url_for('main_bp.book_detail', book_id='') }}" + firestoreBookId;
                    } else {
                        Swal.fire({
  title: 'Error!',
  text: 'Failed to publish the book: ' + data.error,
  icon: 'error',
  confirmButtonText: 'Cool'
})
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to publish the book');
                    Swal.fire({
  title: 'Error!',
  text: 'Failed to publish the book: ',
  icon: 'error',
  confirmButtonText: 'Cool'
})
                });
            }).catch(error => {
                console.error('Error:', error);
                alert('You need an account to publish the book');
            });
        }

        function uploadBook() {
            const form = document.getElementById('bookForm');
            const formData = new FormData(form);
            const file = new File([JSON.stringify({ book_data: { metadata: { id: firestoreBookId } } })], 'book.json', { type: 'application/json' });

            formData.append('file', file);

            getUser().then(user => {
                fetch(`/storage/users/${user.uid}/books/${firestoreBookId}/add`, {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(uploadData => {
                    if (uploadData.success) {
                        Swal.fire({
  title: 'Error!',
  text: 'Book uploaded to storage successfully!',
  icon: 'error',
  confirmButtonText: 'Cool'
})
                    } else {
                        alert('Failed to upload the book: ' + uploadData.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
  title: 'Error!',
  text: 'Failed to upload the book to storage!',
  icon: 'error',
  confirmButtonText: 'Cool'
})
                });
            }).catch(error => {
                console.error('Error:', error);
                alert('You need an account to upload the book');
            });
        }
    </script>
{% endblock %}
