<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tran Minh Giang"/>
    <title>Details</title>

    <link rel="stylesheet" href="../static/css/desktop.css">
    <link rel="stylesheet" href="../static/css/mobile.css">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>


<body>
    <div class="bgr rlt"></div>
    <div class="zid-01 s-30 bl-15 l-10 t-50 ln-1"></div>
    <div class="zid-01 s-30 bl-25 ln-1" style="top: 200vh" ></div>
    <div class="zid-01 s-20 bl-25 r-10 ln-1" style="top: 300vh" ></div>
    <div class="zid-01 s-30 bl-25 l-10 t-80" style="background-color: rgb(198, 22, 22); position: fixed;"></div>
    <div class="zid-01 s-40 bl-25 ln-1" style="top: 300vh;"></div>
    <div class="zid-01 s-40 bl-25 r-10 ln-1" style="top: 400vh;"></div>
    <div class="zid-01 s-40 bl-25 r-10 ln-1" style="top: 520vh;"></div>


 
<!-- navbar -->
<div class="pst-fx w-100 zid-3" tabindex="1">
    <header class="h-10 mg-h-20vw jtf-btw alit-ct">
        <h1 class="clf">Realestzan</h1>
        <nav class="jtf-evl bs-6 ">
            <a class="fs-15" href="welcome">Welcome</a>
            <a class="fs-15" href="questions">Questions</a>
            <a class="fs-15" href="detail">👉🏻 Detail 👈🏻</a>
        </nav>
        <a class="fs-1" href="animation">Animation ✨</a>
    </header>

    <div class="rlt w-100 h-10" style="margin-top: -10vh; backdrop-filter: blur(20px); z-index: -3;"></div>
</div>


    <main>
        <!-- Introduction to about us page -->


        <div class="h-90 mg-h-20vw jtf-btw">
            <img class="bs-1 sc-06 rd-5" src="../static/images/group.JPG" alt="">
            <div class="bs-5 ct-r jtf-cl-e">
                <strong class="fs-3 fw-9">👍🏻 More about me</strong>

                <p class="fs-15 lh-3 pd-v-4">
                    I am eager to add new chapters to this ever-evolving story of passion, innovation, and discovery.
                </p>

                <button class="button-90" role="button">Members</button>
            </div>
        </div>


        <!-- <p> 
            At Cookers & Co, we believe in the power of merging cutting-edge tech
            <br>
            solutions with the timeless art of cooking, offering a unique blend of 
            <br>
            products and services tailored to elevate your culinary journey. 
            Join us as we embark on a flavorful adventure where the possibilities are
            <br>
            as limitless as your imagination!
        </p> -->


        <div class="jtf-cl-st mg-h-20vw card2 pd-3r rd-3">
            <h3 class="fs-3">#Dịch vụ AI của Sweetie</h3>
            <strong class="fs-4 pd-t-3">Và cách hoạt động</strong>
        </div>

        <!-- Team members about info -->
        <!-- Giang -->
        <article>
            <div class="jtf-btw mg-h-20vw mg-t-20vh">
                <img class="bs-1 h-50 img rd-5" src="images/tmg_about.jpg" alt="Tran Minh Giang">
                <div class="jtf-cl-btw bs-4">
                    <h2>Tách - Lấy nội dung từ sách</h2>
                    <p class="fw-4 lh-25 mg-t-3r">
                        Phụ thuộc vào file tệp sách thuộc format nào (đuôi file như .txt, .pdf, .epub, .mobi) chúng tôi sẽ tách nội dung từ sách và chuyển đổi nó thành dạng text.
                        <br><br>
                        Thư viện Python được sử dụng cho các công việc tách nội dung từ sách gồm: pdfplumber, PyPDF2, ebooklib, html2text, BeautifulSoup, PyMuPDF, textract, pdfminer, slate
                    </p>

                    <hr class="mg-v-3">

                    <p class="fs-2 fw-4 lh-4">"The only way to do great work is to love what you do"</p>
                </div>
                <div class="bs-2 jtf-e">
                    <h1 class="fs-5 w-10">T<br>á<br>c<br>h</h1>
                </div>
            </div>
        </article>
        <!-- Tuan -->
        <article>
            <div class="jtf-btw mg-h-20vw mg-t-30vh">
                <img class="bs-1 h-50 img rd-5" src="images/tmg2.HEIC" alt="Tran Minh Giang">
                <div class="jtf-cl-btw bs-4">
                    <h2>Dịch - Sử dụng ngôn ngữ bạn thích</h2>
                    <p class="fw-4 lh-25 mg-t-3r">
                        Dịch nội dung từ sách sang ngôn ngữ bạn muốn. Chúng tôi sử dụng các công cụ dịch máy như Google Translate, Microsoft Translator, IBM Watson, Amazon Translate, Yandex.Translate, Baidu Translate, DeepL, MyMemory, Apertium, Transif
                        <br><br>
                        Quá trình dịch nhanh chóng và chính xác, giúp bạn tiết kiệm thời gian và công sức.
                    </p>

                    <hr class="mg-v-3">

                    <p class="fs-15 fw-4 lh-4">"Chúng tôi sẽ dịch nội dung từ sách sang ngôn ngữ bạn muốn và gửi file cho bạn!"</p>
                </div>
                <div class="bs-2 jtf-e">
                    <h1 class="fs-5 w-10">D<br>ị<br>c<br>h</h1>
                </div>
            </div>
        </article>
       
        <!-- Arlene -->
        <article>
            <div class="jtf-btw mg-h-20vw mg-t-30vh">
                <img class="bs-1 h-50 img rd-5" src="images/tmg3.HEIC" alt="Tran Minh Giang">
                <div class="jtf-cl-btw bs-4">
                    <h2>Đọc - Biến sách bạn thành Podcast</span></h2>
                    <p class="fw-4 lh-25 mg-t-3r">
                        Chúng tôi sẽ đọc nội dung từ sách và biến nó thành Podcast. Bạn có thể lựa chọn giọng đọc, tốc độ đọc, và định dạng file Podcast mà bạn muốn.
                        <br><br>
                        Thư viên đọc sách được sử dụng: pyttsx3, gTTS, pyttsx
                    </p>

                    <hr class="mg-v-3">

                    <p class="fs-2 fw-4 lh-4">"The best way to predict the future is to create it."</p>
                </div>
                <div class="bs-2 jtf-e">
                    <h1 class="fs-5 w-10">Đ<br>ọ<br>c<br></h1>
                </div>
            </div>
        </article>


            <!-- Timetable -->
        <div class="jtf-cl-st pd-v-5 ct mg-t-20vh card2">
            <h3 class="fs-3">Các model AI</h3>
            <strong class="fs-4">Được sử dụng</strong>
        </div>


        <table class="mg-h-20vw w-60 mg-t-20vh mg-v-5">
            <tr>
                <th>Class</th>
                <th>TNE10006</th>
                <th>COS10026</th>
                <th>COS10005</th>
            </tr>

            <tr>
                <td>Class</td>
                <td>Saturday</td>
                <td>Friday</td>
                <td>Thursday</td>
            </tr>

            <tr>
                <td>Self-learn</td>
                <td>Wednesday</td>
                <td>...</td>
                <td>Sunday</td>
            </tr>

            <tr>
                <td>Practice</td>
                <td>Wednesday</td>
                <td>Friday</td>
                <td>...</td>
            </tr>
        </table>


        <!-- our mission -->
        <div class="h-90 mg-h-20vw jtf-btw">
            <img class="w-20" src="../static/images/target.png" alt="">
            <div class="bs-5 ct-r jtf-cl-e">
                <strong class="fs-3 fw-9">My Mission</strong>

                <p class="fs-15 fw-4 lh-2 pd-v-4">
                    HD in Web development COS10005 & Inquiry COS10026
                    <br><br>
                    Build a social media with web app and mobile app
                    <br><br>
                    Dive deeper in Mobile development
                    <br><br>
                    Fluent at Firebase Services
                </p>
            </div>
        </div>

        <div class="h-90 mg-h-20vw jtf-btw">
            <div class="bs-5 ct-r jtf-cl-e">
                <strong class="fs-3 fw-9">My achievements</strong>

                <p class="fs-15 fw-4 lh-2 pd-v-4">
                    Khoa Hoc Ky Thuat 2021 & 2023: 1st + 2nd
                    <br><br>
                    Khoa Hoc Ky Thuat va Cong Nghe by
                    Vinuni 2023: 2nd
                    <br><br>
                    Sang tao ky thuat 2022
                    <br><br>
                    IBCOL 2022
                    <br><br>
                    Sang Tao Thanh Thieu Nien Nhi Dong: 3rd 2022 + 1st 2023
                </p>
            </div>
            <img id="lt" class="w-20" src="../static/images/trophy.png" alt="">
        </div>


     
 
    </main>





    <!-- footer -->
    <footer class="w-100 h-40 mg-20vw jtf-evl alit-ct zid-9 mg-t-20vh">
        <div class="h-80pc jtf-cl-btw">
            <strong>Navigation</strong>
            <a href="welcome.html" class="fs-2r">Welcome</a>
            <a href="questions.html" class="fs-2r">Questions</a>
            <a href="detail.html" class="fs-2r">👉🏻 Detail 👈🏻</a>
        </div>
  
        <div class="h-80pc jtf-cl-btw">
            <strong>Contact</strong>
            <a>0949010705</a>
            <a href="welcome.html">realestzan.com</a>
            <a>franbow1177@</a>
        </div>
  
          <div class="h-80pc jtf-cl-btw">
              <strong>Social</strong>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-meta-logo"></i><p>/010705mariposa</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-twitter-logo"></i><p>/none</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-linkedin-logo"></i><p>/none</p></div>
          </div>
    </footer>

</body>
</html>