<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tran Minh Giang"/>
    <title>Questions</title>

    <link rel="stylesheet" href="styles/desktop.css">
    <link rel="stylesheet" href="styles/mobile.css">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>


<body>
    <div class="bgr rlt"></div>
    <div class="zid-01 s-30 bl-15 r-10 t-50 ln-1"></div>
    <div class="zid-01 s-30 bl-15 l-20 ln-1" style="top: 235vh"></div>
    <div class="zid-01 s-40 bl-25 l-60 ln-1" style="top: 355vh"></div>

<!-- navbar -->
    <header class="h-10 mg-h-20vw jtf-btw alit-ct">
        <h1 class="clf">Realestzan</h1>
        <nav class="jtf-evl bs-6 ">
            <a class="fs-15" href="welcome.html">Welcome</a>
            <a class="fs-15" href="questions.html">👉🏻 Questions 👈🏻</a>
            <a class="fs-15" href="detail.html">Detail</a>
        </nav>
        <a class="fs-1" href="animation.html">Animation ✨</a>
    </header>


<h3 class="fs-3 mg-h-20vw mg-t-10vh mg-b-2r">Intro</h3>
  <div class="job-posting mg-h-20vw pd-3r jtf-btw">
    <ul class="fw-4 lh-4">
        <li>As you delve into my portfolio, I hope you find inspiration in the projects that have marked my journey so far. Each line of code, each design decision, and each project milestone reflects my commitment to excellence and my ambition to make a meaningful impact in the world of web development. Join me on this journey, where every challenge is a doorway to innovation, and every project is a step towards a brighter, more inclusive future.</li>
    </ul>
    <img class="w-50 h-50" src="/images/key.png" alt="">
  </div>


  <div class="mg-h-20vw jtf-btw mg-t-10vh">
        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">01</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">Username</p>
            </div>
            <p class="fs-15 fw-3 lh-3">
                @010705mariposa
                <br>
                @Realestzan
            </p>

        </div>

        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">02</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">School Location</p>
            </div>
            <p class="fs-15 fw-3 lh-3">A35 Bach Dang Street, Tan Binh District, HCMC</p>
        </div>
    </div>

    <div class="mg-h-20vw jtf-btw mg-t-10vh">
        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">03</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">Major</p>
            </div>
            <p class="fs-15 fw-3 lh-3">Computer Science<br>Software Development</p>
        </div>
    
        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">04</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">Skills</p>
            </div>
            <p class="fs-15 fw-3 lh-3">
                Web development
                <br> 
                Mobile development
            </p>
        </div>
    </div>


    <div class="mg-h-20vw jtf-btw mg-t-10vh">
        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">05</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">Projects</p>
            </div>
            <ol class="fs-15 fw-3 lh-3">
                <li>Mariposa.</li>
                <li>Maripoco.</li>
                <li>Marigula.</li>
                <li>Silentate.</li>
            </ol>
        </div>
    
        <div class="job-item bs-5 pd-h-3 pd-v-2" tabindex="0">
            <h2 class="fs-3 fw-9">06</h2>
            <div class="jtf-st h-10 alit-ct">
                <i class="ph ph-plus-circle fs-3"></i>
                <p class="fs-2 mg-l-2r">Studying</p>
            </div>
            <ul class="fs-15 fw-3 lh-3">
                <li>Computer System.</li>
                <li>Inquiry.</li>
                <li>Web development.</li>
            </ul>
        </div>
    </div>

    <section>
        <h3 class="fs-25 mg-h-20vw mg-t-10vh mg-b-2r">My views</h3>
        <div class="job-posting mg-h-20vw pd-3r">
                <h4 class="fs-2 fw-5">Collaboration and Community</h4>
                <p class="lh-25 mg-t-1r">I believe that the best ideas are born from collaboration. My time at Swinburne Vietnam has been enriched by working alongside talented peers and mentors. This collaborative spirit is evident in my projects, where teamwork has led to more robust and innovative outcomes.</p>
                <br>
                <h4 class="fs-2 fw-5">Technology with a Conscience</h4>
                <p class="lh-25 mg-t-1r">As a computer scientist in training, I am acutely aware of the ethical implications of technology. My goal is to develop web solutions that are not only efficient but also socially responsible. My portfolio highlights projects that prioritize user privacy, accessibility, and ethical considerations in the digital space.</p>
                <br>
                <h4 class="fs-2 fw-5">The Human Element in Technology</h4>
                <p class="lh-25 mg-t-1r">Behind every line of code is a human story. My approach to web development is deeply rooted in empathy and understanding the end-user's needs. This human-centric perspective is woven throughout my portfolio, illustrating my commitment to creating technology that enhances human experiences.</p>

            <ul class="fw-3 lh-3">
                <li>Ph.D. in a relevant field.</li>
                <li>Experience with big data technologies (e.g., Hadoop, Spark).</li>
            </ul>
        </div>
        
    </section>

        <div class="mg-h-20vw jtf-btw mg-t-10vh">
            <div class="job-item w-10 pd-h-3 pd-v-2" tabindex="0">
                <h2 class="fs-3 fw-9">08</h2>
                <div class="jtf-st h-10 alit-ct">
                    <i class="ph ph-plus-circle fs-3"></i>
                    <p class="fs-2 mg-l-2r">Competitions</p>
                </div>
                <ul class="fs-15 fw-3 lh-3">
                    <li>KHKTCN</li>
                    <li>KHKT</li>
                    <li>IBCOL</li>
                    <li>STTTNND</li>
                    <li>STKHT</li>
                </ul>
            </div>
        </div>
 
        
        <h3 class="fs-25 mg-h-20vw mg-t-10vh mg-b-2r">Vision for the Future</h3>
        <div class="job-posting mg-h-20vw pd-3r">
            <h4 class="fs-2 fw-5">Essential</h4>
            
            <ul class="lh-3">
                <br>
                <li>Looking ahead, I see a future where technology and web development play pivotal roles in addressing societal challenges. My experiences, both in and out of the classroom, have instilled in me a strong belief in the power of technology to foster inclusivity, sustainability, and positive social change. Through my work, I aspire to contribute to a future where technology enhances the quality of life for all, breaking down barriers and opening up new horizons.</li>
                <br>
                <li>As you delve into my portfolio, I hope you find inspiration in the projects that have marked my journey so far. Each line of code, each design decision, and each project milestone reflects my commitment to excellence and my ambition to make a meaningful impact in the world of web development. Join me on this journey, where every challenge is a doorway to innovation, and every project is a step towards a brighter, more inclusive future.</li>
            </ul>

        </div>

        <h3 class="fs-25 mg-h-20vw mg-t-10vh mg-b-2r">A Personal Reflection</h3>
        <div class="job-posting mg-h-20vw pd-3r">
            <h4 class="fs-2 fw-5">Portfolio</h4>
            
            <ul class="lh-3">
                <br>
                <li>My portfolio is more than a collection of projects; it's a reflection of my identity as a developer. It captures my growth, my aspirations, and my vision for the future of technology. As I continue my studies at Swinburne Vietnam, I am eager to add new chapters to this ever-evolving story of passion, innovation, and discovery.</li>
            </ul>

        </div>
        
    </section>


    </main>

    <footer class="w-100 h-40 mg-20vw jtf-evl alit-ct zid-9 mg-t-20vh zid-3">
        <div class="h-80pc jtf-cl-btw">
            <strong>Navigation</strong>
            <a href="welcome.html" class="fs-2r">Welcome</a>
            <a href="questions.html" class="fs-2r">👉🏻 Questions 👈🏻</a>
            <a href="detail.html" class="fs-2r">Detail</a>
        </div>
  
        <div class="h-80pc jtf-cl-btw">
            <strong>Contact</strong>
            <a>0949010705</a>
            <a href="welcome.html">realestzan.com</a>
            <a>franbow1177@</a>
        </div>
  
          <div class="h-80pc jtf-cl-btw">
              <strong>Contact</strong>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-meta-logo"></i><p>/010705mariposa</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-twitter-logo"></i><p>/none</p></div>
              <div class="alit-ct"><i class="fs-2 mg-r-2r ph ph-linkedin-logo"></i><p>/none</p></div>
          </div>
    </footer>

</body>
</html>
